name:  CI

on:
  push:
    branches: 
      - 'main'
      - 'cicd'
  pull_request:
    branches: 
      - 'main'
      - 'cicd'

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          #application.yml 파일을 감추고 빌드할때 githubsecret에 저장된 application.yml을 복사해서 생성한뒤
          #빌드에 포함시킴
      - name: Set YML
        run: |
          mkdir -p src/main/resources
          echo "${{ secrets.APPLICATION_YML }}" | base64 --decode > src/main/resources/application.yml
        #gradlew 실행을 위한 권한 추가
      - name: cd to gradlew..
        run: cd cookiee-server
      - name: Grant execute permission for gradlew
        run: chmod 777 ./gradlew
      - name: Build with Gradle
        run: ./gradlew build -x test
        #uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
